body {
  font-family: sans-serif;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
          transform: none;
}

.modal-dialog-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.s-arrow {
  background-image: url(./assets/images/sprite/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 6px;
}

.btn-gen {
  border-radius: 2px;
  text-align: center;
  padding: 15px;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 349px) {
  .btn-gen {
    width: 100%;
  }
}

input.btn-gen {
  border: none;
  cursor: pointer;
}

.btn-light {
  background-color: #18a6d3;
  color: white;
}

.btn-light:hover {
  background-color: #137fd5;
}

.btn-light:active {
  background-color: #075491;
}

.btn-light._inverse {
  border: 1px solid #18a6d3;
  background-color: white;
  color: #18a6d3;
}

.btn-light._inverse:hover, .btn-light._inverse:focus {
  background-color: #137fd5;
  color: white;
}

.btn-light._inverse:active {
  background-color: #075491;
}

.small-btn {
  width: 210px;
  height: 50px;
}

.big-btn {
  width: 270px;
  height: 65px;
}

.btn-dark {
  border: 2px solid #cddde9;
  width: 210px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.btn-dark:hover {
  background-color: #e7eef4;
  border-color: #e7eef4;
  color: #137fd5;
}

.btn-dark:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #075491;
}

.wpcf7-form .wpcf7-list-item {
  margin-left: 0;
}

.wpcf7-form .wpcf7-list-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .wpcf7-form .wpcf7-list-item label {
    display: inline-block;
    padding: 0;
  }
}

.wpcf7-form .wpcf7-list-item input[type="checkbox"] {
  margin-left: 0;
  margin-right: 10px;
}

.wpcf7-acceptance {
  color: rgba(79, 82, 96, 0.7);
}

.wpcf7-acceptance a {
  color: #075491;
}

.wpcf7-acceptance a:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .wpcf7-acceptance .wpcf7-list-item-label {
    font-size: 12px;
  }
}

input.wpcf7-text {
  background-color: rgba(0, 0, 0, 0);
}

label {
  padding: 13px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

label .form-label-text {
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  letter-spacing: 2px;
  color: rgba(79, 82, 96, 0.7);
}

.wpcf7-form-control-wrap {
  display: block;
  width: 100%;
}

.wpcf7-tel, .wpcf7-text, .wpcf7-textarea {
  padding: 16px 0;
  border: none;
  border-bottom: 1px solid rgba(79, 82, 96, 0.7);
  letter-spacing: 2px;
  color: #4f5260;
  max-width: 200px;
  margin-right: 30px;
  font-family: 'Gilroy', 'MyriadPro', sans-serif;
}

.wpcf7-tel.white-bg, .wpcf7-text.white-bg, .wpcf7-textarea.white-bg {
  max-width: 100%;
  border: 1px solid #d7d7d9;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.8);
}

.wpcf7-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.wpcf7-submit {
  margin-top: 20px;
}

.label-file {
  color: #17a8d6;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .label-file {
    margin-top: 10px;
  }
}

.label-file::before {
  content: url("//climate-service.local/wp-content/uploads/2019/04/file-img.png");
  position: relative;
  left: -10px;
}

.label-file * {
  pointer-events: none;
}

.label-file img {
  margin-right: 10px;
}

.label-file:hover {
  color: #075491;
}

.wpcf7-submit {
  width: 210px;
  height: 50px;
}

@media (max-width: 575.98px) {
  .wpcf7-submit {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.wpcf7-submit[disabled] {
  opacity: .5;
}

.wpcf7-response-output {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}

.wpcf7-text {
  margin-right: 0;
}

.feedbackform-product-cat .feedback-label-text {
  margin-bottom: 10px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .feedbackform-product-cat .feedback-label-text {
    font-size: 10px !important;
  }
}

.feedbackform-product-cat .wpcf7-acceptance label {
  display: inline;
}

@media (max-width: 991.98px) {
  .feedbackform-product-cat .wpcf7-acceptance label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .feedbackform-product-cat .wpcf7-list-item-label {
    font-size: 12px !important;
  }
}

.feedbackform-product-cat .wpcf7-form .wpcf7-list-item input[type="checkbox"] {
  position: relative;
  top: 3px;
}

@media (max-width: 991.98px) {
  .feedbackform-product-cat .wpcf7-form .wpcf7-list-item input[type="checkbox"] {
    position: static;
  }
}

body.home .footer-wrap {
  margin-top: 0;
}

.footer-wrap {
  background-color: #fefefe;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 100px;
  padding: 75px 0;
}

@media (max-width: 767.98px) {
  .footer-wrap {
    padding: 40px 0 20px;
  }
}

@media (max-width: 767.98px) and (max-width: 575.98px) {
  .footer-wrap {
    padding: 40px 0 0;
  }
}

.footer-wrap p, .footer-wrap a {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 991.98px) {
  .footer-wrap .foot_container .foot-col-1 {
    margin-bottom: 50px;
  }
}

.footer-wrap .footer_img {
  margin-bottom: 50px;
}

@media (max-width: 991.98px) {
  .footer-wrap .footer_img {
    margin-bottom: 20px;
  }
}

.footer-wrap .footer_phones {
  margin-bottom: 45px;
}

@media (max-width: 991.98px) {
  .footer-wrap .footer_phones {
    margin-bottom: 20px;
  }
}

.footer-wrap .footer_phones .f_phone {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 29px;
}

@media (max-width: 1199.98px) {
  .footer-wrap .footer_phones .f_phone {
    font-size: 24px;
  }
}

.footer-wrap .footer_addresses {
  margin-bottom: 25px;
}

.footer-wrap .footer_addresses .f_address {
  font-size: 14px;
}

@media (min-width: 1600px) {
  .footer-wrap .footer_addresses .f_address {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .footer-wrap .footer_addresses .f_address {
    font-size: 14px;
  }
}

.footer-wrap .footer_emails {
  margin-bottom: 25px;
}

.footer-wrap .footer_emails .f_email {
  font-size: 14px;
}

@media (min-width: 1600px) {
  .footer-wrap .footer_emails .f_email {
    font-size: 16px;
  }
}

.footer-wrap .footer_lists {
  -webkit-column-count: 3;
          column-count: 3;
}

@media (max-width: 1199.98px) {
  .footer-wrap .footer_lists {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 1199.98px) and (max-width: 575.98px) {
  .footer-wrap .footer_lists {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.footer-wrap .footer_lists .f_list {
  margin-bottom: 25px;
}

@media (max-width: 1199.98px) {
  .footer-wrap .footer_lists .f_list {
    margin-bottom: 15px;
  }
}

@media (max-width: 1199.98px) and (max-width: 575.98px) {
  .footer-wrap .footer_lists .f_list {
    margin-bottom: 30px;
  }
}

.footer-wrap .footer_lists .f_list .list_header {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
  display: block;
}

@media (max-width: 1199.98px) {
  .footer-wrap .footer_lists .f_list .list_header {
    margin-bottom: 10px;
  }
}

@media (max-width: 1199.98px) and (max-width: 767.98px) {
  .footer-wrap .footer_lists .f_list .list_header {
    font-size: 18px;
  }
}

@media (max-width: 1199.98px) and (max-width: 767.98px) and (max-width: 575.98px) {
  .footer-wrap .footer_lists .f_list .list_header {
    font-size: 20px;
  }
}

.footer-wrap .footer_lists .f_list .item_list {
  padding-left: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

@media (max-width: 767.98px) {
  .footer-wrap .footer_lists .f_list .item_list {
    font-size: 14px;
  }
}

@media (max-width: 767.98px) and (max-width: 575.98px) {
  .footer-wrap .footer_lists .f_list .item_list {
    font-size: 16px;
  }
}

.footer-wrap .footer_lists .f_list .item_list:before {
  content: '\2022';
  position: relative;
  left: -10px;
}

.footer-wrap .footer_lists .f_list .item_list.sub_item:before {
  content: '\203E';
  position: relative;
  top: 5px;
  left: -10px;
}

.footer-wrap .footer_lists .f_list .item_list.sub_item.sub_item_last {
  margin-bottom: 25px;
}

@media (max-width: 1199.98px) {
  .footer-wrap .footer_lists .f_list .item_list.sub_item.sub_item_last {
    margin-bottom: 15px;
  }
}

.footer-wrap .footer_lists .f_list .item_list .item_link:hover {
  text-decoration: underline;
  color: white;
}

.footer-copyright {
  background-color: #274578;
  padding: 32px 0;
}

@media (max-width: 575.98px) {
  .footer-copyright {
    padding: 20px 0 10px;
  }
}

.footer-copyright a, .footer-copyright p {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 575.98px) {
  .footer-copyright a, .footer-copyright p {
    margin-bottom: 10px;
  }
}

.footer-copyright .copyright_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .footer-copyright .copyright_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-copyright .created {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright .created:hover {
  text-decoration: underline;
}

.footer-copyright .created:active {
  color: white;
}

.modal .modal-dialog {
  top: 10%;
}

@media (min-width: 1600px) {
  .modal .modal-dialog {
    top: 15%;
  }
}

@media (max-width: 575.98px) {
  .modal .modal-dialog {
    top: 20px;
  }
}

.modal .wpcf7-acceptance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-header {
  position: relative;
}

.modal .modal-header .close {
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  line-height: 1;
  font-size: 1.5em;
}

@media (max-width: 349px) {
  .modal .modal-header .close {
    top: 20px;
    right: 25px;
  }
}

.modal .modal-header .close br {
  display: none;
}

@media (max-width: 349px) {
  .modal .modal-header .modal-title {
    font-size: 30px;
  }
}

.modal .modal-body label {
  width: 270px;
  text-align: center;
}

.modal .modal-body .wpcf7-form-control-wrap {
  width: 100%;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs {
  margin-top: 120px;
  margin-bottom: 40px;
}

.breadcrumbs .kama_breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  color: #5187b1;
}

.breadcrumbs .kama_breadcrumbs a, .breadcrumbs .kama_breadcrumbs .kb_sep {
  color: #83858f;
}

.breadcrumbs .kama_breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .kama_breadcrumbs .kb_sep {
  margin: 0 5px;
}

.breadcrumbs .kama_breadcrumbs .kb_title {
  color: #5187b1;
}

.entry-title, .page-title {
  font-weight: 700;
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .entry-title, .page-title {
    font-size: 28px;
  }
}

.entry-header .entry-title a {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  color: #4f5260;
  display: block;
  position: relative;
  padding-bottom: 15px;
}

.entry-header .entry-title a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #17a8d6;
  bottom: 0;
  left: 0;
}

@media (max-width: 575.98px) {
  .entry-header .entry-title a {
    font-size: 30px;
  }
}

.entry-content .list-title {
  font-size: 13px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  letter-spacing: 2px;
  color: rgba(79, 82, 96, 0.7);
  margin-bottom: 10px;
}

.entry-content .map_block {
  display: block;
  position: relative;
}

.entry-content .map_elem {
  display: block;
}

.entry-content .map_preview {
  position: absolute;
  top: 0;
}

.entry-content a:hover {
  text-decoration: underline;
}

.entry-content a[href^="tel:+"] {
  color: #4f5260;
  font-weight: 700;
}

.entry-content a[href^="mailto:"] {
  color: #17a8d6;
}

.entry-content #address {
  color: #17a8d6;
  font-weight: 500;
}

@media (max-width: 991.98px) {
  .entry-content ul {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .entry-content table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  .entry-content table tr td {
    margin-bottom: 20px;
    width: 100% !important;
  }
}

.promo-period {
  font-size: 13px;
  font-weight: 500;
  color: rgba(79, 82, 96, 0.7);
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.post-thumbnail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.project_custom_fields {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdcde;
}

.project_custom_fields .project_cf_year {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project_custom_fields .project_cf_year span {
  margin-left: 30px;
  font-weight: 400;
}

.project_content p {
  margin-bottom: 20px;
}

.content-column ul {
  padding-left: 40px;
}

.content-column ul.products, .content-column ul.page-numbers {
  padding-left: 0;
}

.content-column strong {
  font-weight: bold;
}

.content-column em {
  font-style: italic;
}

.content-column h1 {
  font-size: 32px;
}

.content-column h2 {
  font-size: 24px;
}

.content-column h3 {
  font-size: 18px;
}

.content-column h4 {
  font-size: 16px;
}

.content-column h5 {
  font-size: 13px;
}

.content-column h6 {
  font-size: 10px;
}

.cookcodesmenu_menu {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 100000 !important;
}

@media (min-width: 992px) {
  .cookcodesmenu_menu {
    display: none;
  }
}

.cookcodesmenu_menu .cookcodesmenu_brand {
  padding: 10px;
}

.cookcodesmenu_menu .cookcodesmenu_brand .custom-logo {
  max-width: 280px;
}

@media (max-width: 349px) {
  .cookcodesmenu_menu .cookcodesmenu_brand .custom-logo {
    max-width: 230px;
  }
}

.cookcodesmenu_menu .cookcodesmenu_open > .cookcodesmenu_item .cookcodesmenu_arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cookcodesmenu_menu .cookcodesmenu_btn {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 35px;
}

@media (max-width: 349px) {
  .cookcodesmenu_menu .cookcodesmenu_btn {
    top: 5px;
  }
}

.cookcodesmenu_menu .cookcodesmenu_btn .cookcodesmenu_menutxt i {
  color: #18a6d3;
}

.cookcodesmenu_menu .cookcodesmenu_nav {
  width: 100%;
}

.cookcodesmenu_menu .menu-item {
  display: block;
  border-bottom: 1px solid #075491;
}

.cookcodesmenu_menu .menu-item:last-child {
  border-bottom: none;
}

@media (max-width: 991.98px) {
  .cookcodesmenu_menu .menu-item a {
    color: black;
    display: block;
    width: 100%;
    padding: 10px 15px;
  }
  .cookcodesmenu_menu .menu-item a:hover {
    color: #075491;
  }
}

.cookcodesmenu_menu .menu-item .cookcodesmenu_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.cookcodesmenu_menu .menu-item .cookcodesmenu_item .cookcodesmenu_arrow {
  padding-right: 20px;
}

.cookcodesmenu_menu .menu-item .sub-menu {
  background-color: #18a6d3;
}

.cookcodesmenu_menu .menu-item .sub-menu a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookcodesmenu_menu .menu-item .sub-menu a:hover {
  color: white;
}

.cookcodesmenu_menu .menu-item .sub-menu .item_menu_image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center center;
}

.cookcodesmenu_menu .menu-item .sub-menu .sub-menu {
  background-color: #355894;
}

.cookcodesmenu_menu .menu-item .sub-menu .sub-menu .sub-menu {
  background-color: #143773;
}

.cookcodesmenu_menu .menu-item .sub-menu .sub-menu .sub-menu .sub-menu {
  background-color: #00114D;
}

.cookcodesmenu_menu .menu-item-filter .sub-menu {
  background: none;
}

.cookcodesmenu_menu .menu-item-filter .sub-menu .product_filter_widget {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-top: 1px solid #075491;
}
/*# sourceMappingURL=style.css.map */